html {
    scroll-behavior: smooth;
    
}

body {
    padding: 0;
    margin: 0;
    background: white;
    font-family: paralucent,sans-serif;
    /* paralucent,sans-serif;  */
    /* 'Roboto'; */
    /* ,'Playfair Display', serif; */
}
.navbar {
    /* padding: .5rem; */
    background:#fff;
    box-shadow: 1px 1px 2px 1px rgba(66, 70, 70, 0.45);
    -webkit-box-shadow: 1px 1px 2px 1px rgba(66, 70, 70, 0.45);
    -moz-box-shadow: 1px 1px 2px 1px rgba(66, 70, 70, 0.45);    
}



.nav-link,
.navbar-brand {
    color: rgb(15, 2, 27);
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}



.hero-row{
    height: calc(100vh - 10px);
    padding: 1rem;
    box-shadow: rgba(13, 3, 17, 0.3) 0px 0px 0px 3px;
  }
  
  .hero-row-int{
    padding: 1rem;
    height: calc(100vh - 150px);
    box-shadow: 0px 0px 0px 2px rgba(66, 70, 70, 0.45);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(66, 70, 70, 0.45);
    -moz-box-shadow: 0px 0px 0px 2px rgba(66, 70, 70, 0.45);
  }

.featurette-divider {
    margin: 4rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    /* .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    } */
  
    .featurette-heading {
      font-size: 50px;
      
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 2rem;
    }
  }

  .back-to-top{
    position: fixed;
    bottom: 10px;
    float:right !important;
  }


  .tanmatra-exam-school{
    width: 50%;
    margin: auto;
  }

  .help-card-img{
      width: 40%;
      margin: auto;
      
  }
  .v-card{
    min-height: 300px;
    transition: 0.25s ease;
    

  }
  .h-card{
    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%),0 1px 1px 0 rgb(0 0 0 / 14%),0 2px 1px -1px rgb(0 0 0 / 12%); */
    transition: 0.25s ease;

  }

  .h-card:hover {
    /* box-shadow: 1px 1px 2px 1px rgba(66, 70, 70, 0.45);
    -webkit-box-shadow: 1px 1px 2px 1px rgba(66, 70, 70, 0.45);
    -moz-box-shadow: 1px 1px 2px 1px rgba(66, 70, 70, 0.45); */
    box-shadow: 0px 0px 16px -3px rgba(33,29,29,0.63);
    -webkit-box-shadow: 0px 0px 16px -3px rgba(33,29,29,0.63);
    -moz-box-shadow: 0px 0px 16px -3px rgba(33,29,29,0.63);
    transform: scale(1.05, 1.05);
    /* transition: 0.5s; */
    cursor: pointer;
    

  }
  .h-card-heading{
    margin-top: .3rem !important;
    
    
  }
  .v-card:hover{
    /* box-shadow: 1px 1px 2px 1px rgba(66, 70, 70, 0.45);
    -webkit-box-shadow: 1px 1px 2px 1px rgba(66, 70, 70, 0.45);
    -moz-box-shadow: 1px 1px 2px 1px rgba(66, 70, 70, 0.45); */
    box-shadow: 0px 0px 16px -3px rgba(33,29,29,0.63);
    -webkit-box-shadow: 0px 0px 16px -3px rgba(33,29,29,0.63);
    -moz-box-shadow: 0px 0px 16px -3px rgba(33,29,29,0.63);
    transform: scale(1.03, 1.03);
    /* transition: 0.4s; */
    cursor: pointer;

  }
  
  
  .exam-grid{
    grid-column-gap: 1rem;
    justify-content: space-between;
   
  }
  .comp-exam-grid{
    grid-column-gap: 2rem;
  

  }

  .button-1, .button-1:hover {
    text-decoration: none !important;
  }

  


 